.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Upper {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.currentDate {
  margin-left: 0.5rem;
  color: grey;
}

.MainContent {
  display: flex;
}

.ContentArea {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.LogoContainer {
  width: 20%;
}

.AppLogo {
  margin-top: 1rem;
  width: 100px;
  padding-right: 1rem;
}

.MainLineSearch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid yellow;
}

.ServiceLinks {
  width: 80%;
}

.serviceLink {
  margin: 0.25rem;
}

.upper-left-col {
  width: 70%;
}

.img-icon-UpperLeftColItem {
  width: 1rem;;
}

.link-item-UpperLeftColItem {
  text-decoration: none;
  color: #000000;
  margin-left: 0.25rem;
}

.upper-right-col {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.img-icon-UpperRightColItem {
  width: 3rem;
}

.SearchLine {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background-color: yellow;
  border: 1px solid yellow;
}

.StringToSearch {
  color: gray;
}